.bg_tab
{
    background-color: #EBF1FB;
    border: 1px solid #EBF1FB;
}


.text_tab{
    color: lightgray;
}

.color_card
{
    cursor: pointer;
}

@media screen and (max-width: 980px)
{
    .padding_left_zero_mob
    {
        padding-left: 0px;
    }
    .padding_left_ajust_mob
    {
        padding-left: 8%;
    }
}