@import "../../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";


.background_color
{
    background-color: #0B1524;
    color: white;
}

.footer_sub
{
    color: gray;
    font-size: 80%;
}

.font_footer
{
    font-size: 80%;
    color: gray;
}

.font_icon
{
    font-size: 120%;
    color: gray;
    padding-left: 3%;
}


.align-icons
{
    text-align: right;
}

@media screen and (max-width: 480px) {
    .align-icons
    {
        text-align: left;
        padding-left: 0px !important;
    }
 
   }